<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aura.aosp.gorilla.service">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.aura.aosp.gorillaservice.MESSAGE_PERMISSION"
        android:label="Gorilla Message Services"
        android:protectionLevel="normal" />

    <application android:name="com.aura.aosp.gorilla.service.GorillaBase">

        <receiver android:name="com.aura.aosp.gorilla.service.GorillaBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.aura.aosp.gorilla.service.GorillaService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.aura.android.gorillaservice.START_SERVICE" />
                <action android:name="com.aura.android.gorillaservice.REMOTE_CONNECT" />
            </intent-filter>

        </service>

        <receiver
            android:name="com.aura.aosp.gorilla.service.GorillaReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.aura.aosp.gorilla.service.WANT_OWNER" />
                <action android:name="com.aura.aosp.gorilla.service.SEND_PAYLOAD" />
            </intent-filter>

        </receiver>

    </application>

</manifest>

